/*Custom Styles*/
main {
  min-height: 83vh !important;
}
.login-panel {
  margin: 50px 0px 50px 0px;
  padding: 30px;
}
.bg-cutom {
  background-color: #2e4057;
}
.top-logo {
  font-weight: bold;
  font-size: 25px;
}
.custom-file {
  height: 200px !important;
}
.input-set {
  height: 200px !important;
}
.upload-set {
  background-color: transparent;
  border: 2px dashed #40ca97;
  height: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 60px 0px 60px 0px;
  color: black;
}

.upload-set:after {
  color: transparent !important;
  content: "" !important;
  background-color: transparent;
  border-left: none;
}
.custom-file:hover {
  background-color: #40ca97 !important;
  color: white !important;
  cursor: pointer;
}
.upload-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0px 30px 0px;
}
.upload-image-2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.upload-image h6 {
  font-weight: 400;
  text-align: center;
  padding: 10px 0px 10px 0px;
}
.btn-custom {
  background-color: #40ca97;
  border: none;
  font-weight: bold;
  color: white;
}
.btn-custom:hover {
  background-color: transparent;
  border: 1px dashed #40ca97;
  color: #40ca97;
}
.result-set {
  position: relative;
  bottom: 0px;
  left: 19px;
  background-color: #40ca97;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.result-h6 {
  color: white !important;
  font-weight: bold !important;
  padding: 5px 10px 1px 15px;
}
.result-h4 {
  color: black !important;
  font-weight: bold !important;
}
.custom-file:hover .upload-set {
  border: 2px dashed white !important;
  color: white !important;
}
